
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      
      h2{
        text-align: center;
        text-transform: uppercase;
        color: darkblue;
        border-bottom: 1px solid;
        margin: 10px;
        padding-bottom: 5px;
      }
      
      th {
        min-width: 30px;
      }
      th {
        padding: 8px;
        border-top: 1px solid #ddd;
        border-bottom: 2px solid #ddd;
      }
      table {
        border-collapse: collapse;
      }
      tbody {
        overflow: scroll;
      }
      td {
        text-align: center;
        /* padding: 5px; */
        padding: 8px 15px;
        border-bottom: 1px solid #ddd;
      }
      td:first-child {
        font-weight: bold;
      }
      .wrapper {
        display: flex;
        justify-content: space-around;
      }
      label {
        min-width: 100px;
      }
      .class-form {
        border: 3px solid #777;
        padding: 18px;
        border-radius: 8px;
        /* width: 20%; */
        display: flex;
        flex-direction: column;
        overflow: scroll;
      }
      label {
        color: darkblue;
        margin-bottom: 3px;
        min-width: 100px;
      }
      
      .class-form > button {
        background-color: cornflowerblue;
        padding: 10px;
        color: white;
        border-radius: 8px;
        border: none;
        margin-top: 5px;
        cursor: pointer;
      }
      input {
        margin: 0 auto;
        width: 250px;
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 7px 10px;
        margin-bottom: 10px;
      }
      .wrap {
        border: 1px solid gray;
        padding: 0 15px 15px;
        height: 90vh;
        overflow: hidden;
        align-self: center;
      }
      .container {
        display: flex;
        height: 85%;
      }
      .wrap-table {
        overflow-y: scroll;
        margin-right: 20px;
      }


    
